process {


  executor='sge'
  clusterOptions = '-l mem=20G'

  cpus = 1
  penv = 'smp'
  time = 12.h
  memory = 15.Gb

  withName: 'star' {
    time=48.h
    cpus = 4
  }

  withName: 'splitandtrim' {
    cpus = 4
  }

  withName:workflow_summary_mqc{
    memory = 4.Gb 
  }

  beforeScript = 'source $HOME/.bashrc;module unload compilers;module unload mpi;module load r/recommended;module unload python2;module unload python3;module unload python'
  echo = true

  $fastqc.module = ['fastqc/0.11.5']
  $trim_galore.module = ['fastqc/0.11.5','python3/recommended','trim_galore']
  $star.module = ['star/2.5.2a']
  $markDuplicates.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $addRG.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $splitandtrim.module = ['gatk/4.0.8.0']
  $recalibrate.module = ['gatk/4.0.8.0']
  $variantCall.module = ['gatk/4.0.8.0']
  $genotypegvcfs.module = ['gatk/4.0.8.0']
  $filterVariants.module = ['gatk/4.0.8.0']
  $annotateVariants.module = ['blic-modules','annovar']
  $multiqc.module = ['blic-modules','bioconda/4.5.11']
  $get_software_versions.module = ['fastqc/0.11.5','python3/recommended','trim_galore', 'java/1.8.0_92', 'picard-tools/2.18.9', 'blic-modules','bioconda/4.5.11', 'star/2.5.2a', 'gatk/4.0.8.0']


}

params {

  help = false

  // Pipeline Options
  name = false
  project = false
  genome = false
  forward_stranded = false
  reverse_stranded = false
  unstranded = false
  splicesites = false
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  singleEnd = false
  reads = "data/*{1,2}.fastq.gz"
  outdir = './results'
  email = false
  plaintext_email = false
  seqCenter = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

  // Custom trimming options
  pico = false
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0


  // Defaults
  sampleLevel = false
  clusterOptions = false
  maxMultiqcEmailFileSize = 25.MB
  readPaths = null
  tracedir = "${params.outdir}"
 
  genomes {
	'hg19' {
            star = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/STARIndex/'
            fasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa'
	    gtf = "/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Annotation/Genes/genes.gtf"
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/dbsnp_138.b37.vcf'
            annovar_anno = '/shared/ucl/depts/cancer/apps/annovar/2018-04-16/hg19'
        }
        'hg38' {
            star = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
            fasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
	    gtf = "/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/dbsnp_144.hg38.with_chr.vcf.gz'
            annovar_anno = '/shared/ucl/depts/cancer/apps/annovar/2018-04-16/hg38'
	}
  }

}

/////////////////////////////////////////////////////////////////////////
// This should work but it doesn't
// I need to manually remnove the manifest.version instances from main.nf
//	otherwise it crashes with confusing StackOverflow errors 
//////////////////////////////////////////////////////////////////////////

manifest {
    homePage = 'https://github.com/UCL-BLIC/rnaseq_variant_calling'
    description = 'UCL-BLIC RNAseq variant calling pipeline'
    mainScript = 'main.nf'
    version = '1.0.0'
}
