process {

  executor='sge'
  clusterOptions = '-l mem=10G'

  cpus = 1
  penv = 'smp'
  time = 12.h
  memory = 10.Gb

  withName: 'star' {
    time=48.h
    cpus = 4
  }
  withName:workflow_summary_mqc{
    memory = 2.Gb 
  }

  beforeScript = 'source $HOME/.bashrc;module load blic-modules bioconda/4.5.11';
  echo = true

  withName: markDuplicates { module = ['java/1.8.0_92', 'picard-tools/2.18.9'] }
  withName: splitandtrim { module = ['java/1.8.0_92','gatk/4.0.8.0'] }
  withName: recalibrate { module = ['java/1.8.0_92','gatk/4.0.8.0'] }
  withName: variantCall { module = ['java/1.8.0_92','gatk/4.0.8.0'] }
  withName: genotypegvcfs { module = ['java/1.8.0_92','gatk/4.0.8.0'] }
  withName: filterVariants { module = ['java/1.8.0_92','gatk/4.0.8.0'] }
  withName: annotateVariants { module = ['annovar'] }
  withName: get_software_versions { module = ['java/1.8.0_92', 'picard-tools/2.18.9'] }

}

params {

  help = false

  // Pipeline Options
  name = false
  project = false
  genome = false
  forward_stranded = false
  reverse_stranded = false
  unstranded = false
  splicesites = false
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  singleEnd = false
  reads = "data/*{1,2}.fastq.gz"
  outdir = './results'
  email = false
  plaintext_email = false
  seqCenter = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

  // Custom trimming options
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0

  // Defaults
  sampleLevel = false
  clusterOptions = false
  maxMultiqcEmailFileSize = 25.MB
  readPaths = null
  tracedir = "${params.outdir}"
 
  genomes {
	'hg19' {
            star = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/STARIndex/'
            fasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa'
	    gtf = "/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Annotation/Genes/genes.gtf"
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/dbsnp_138.b37.vcf'
            annovar_anno = '/shared/ucl/depts/cancer/apps/annovar/2018-04-16/hg19'
        }
        'hg38' {
            star = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
            fasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
	    gtf = "/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/dbsnp_144.hg38.with_chr.vcf.gz'
            annovar_anno = '/shared/ucl/depts/cancer/apps/annovar/2018-04-16/hg38'
	}
  }

}

manifest {
    homePage = 'https://github.com/UCL-BLIC/rnaseq_variant_calling'
    description = 'UCL-BLIC RNAseq variant calling pipeline'
    mainScript = 'main.nf'
    version = '1.0.0'
}

